body {
  background-color: #f0f4ff;
}

html {
  scroll-behavior: smooth;
}

section h2 {
  letter-spacing: 2px;
  color: darkred;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

#plot {
  width: 100%;
  min-height: 420px;
}
